<div class="title-container">
  <h1>Recipes</h1>
</div>

<div class="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <div class="thumbnail">
        <div class="caption">
          <%= link_to recipe_path(recipe) do %>
            <%= image_tag(recipe.image, class: "img-responsive img-thumbnail") %>
          <% end %>
          <h3><%= link_to recipe.title, recipe_path(recipe) %></h3>
          <p>
            <%= link_to 'Show', recipe_path(recipe), class: "btn btn-default" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
