<h1><%= @recipe.title %></h1>

<h2>Description:</h2>
<p><%= @recipe.description %></p>
<h2>Chef Name:</h2>
<p><%= @recipe.chef_name %></p>
<div>
  <ul class="recipe-actions">
    <li><%= link_to 'Back', recipes_path %></li>
  </ul>
</div>
