@import "bootstrap-sprockets";
@import "bootstrap";


.margin-vertial-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe {
  width: 50%;
  min-width: 300px;
}

.one_recipe {
  width: 80%;
  min-width: 500px;
}

recipe_tags {
    color: #716d6a;
    font-family: "Avenir Next Cyr W00 Medium",Arial,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    list-style: none;
    margin: 0 0 10px;
    float: left;
    display: inline;
}
